@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
/* Navbar */

.navbar h1 {
  color: #000000;
  font-size: 40px;
  margin-left: 90px;
  font-display: auto;
  margin-right: 220px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
  color: #4f5a62;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar .bi-icons {
  color: #98a3aa;
  margin-right: 110px;
}
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
}

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://bootstrapmade.com/demo/templates/Lumia/assets/img/hero-bg.jpg);
  background-size: 100%;
  background-repeat: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.header-content {
  color: #fff;
  text-align: center;
}
.header-content h1 {
  font-size: 7vh;
}
.line {
  width: 160px;
  height: 4px;
  background: #3498db;
  margin: 5px 0px 12px 61%;
}
a {
  text-decoration: none;
}
.header-content h2 {
  margin-bottom: 30px;
}
.ctn {
  padding: 10px 15px;
  background: #3498db;
  color: #fff;
  border-radius: 5px;
}

.navbar ul li .Drop-Down ul {
  display: block;
  position: absolute;
  left: 14px;
  margin: 0;
  z-index: 99;
}

/*-- what-we-do --*/

.what-we-do {
  text-align: center;
  padding: 50px 60px;
  font-size: 40px;
}
.what-we-do h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
}
.what-we-do .line-bar {
  width: 160px;
  height: 4px;
  background: #3498db;
  margin: 10px 0px 12px 44.25%;
}
.what-we-do p {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}
