@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
}


ul{
list-style: none;
}
/* Navbar */

.bar{
  width: 100%;
  height: 68px;
  position: fixed;
  background-color: #fff;
}
.navbar h1 {
  color: #000000;
  font-size: 40px;
  margin:  0 400px 0 60px;
  font-display: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
}
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
  color: #4f5a62;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar .bi-icons i{
  color: #98a3aa;
margin: 0 4px;
}
.navbar i:hover{
  color: #3498db;
}
.nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links li {
  margin: 0 20px;
}
.nav-links li:hover{
  color: #3498db;
}
.actives{
  color: #3498db;
}
header {
  height: 70vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://bootstrapmade.com/demo/templates/Lumia/assets/img/hero-bg.jpg);
  background-position: center;
  background-repeat: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.header-content {
  color: #fff;
  text-align: center;
}
.header-content h1 {
  font-size: 7vh;
}
.line {
  width: 160px;
  height: 4px;
  background: #3498db;
  margin: 5px 0px 12px 61%;
}
a {
  text-decoration: none;
}
.header-content h2 {
  margin-bottom: 30px;
}
.ctn {
  padding: 10px 15px;
  background: #3498db;
  color: #fff;
  border-radius: 5px;
}

 .Drop-Down ul {
   display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

/*-- what-we-do --*/

.what-we-do {
  text-align: center;
  padding: 50px 60px;
  font-size: 40px;
}
.what-we-do .line-bar {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px ;
  padding-bottom: 20px;
  position: relative;

}

.what-we-do .line-bar::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
 left: calc(50% - 60px);
}

.what-we-do .line-bar::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #3498db;
  bottom: 0;
  left: calc(50% - 20px);
}
.what-we-do h1 {
  font-size: 32px;
  font-weight: 600;
  position: relative;
}

.what-we-do p{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.what-we-do .row {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.what-we-do .icon-boxes {
  text-align: center;
  width: 410px;
  height: 170px;
  border-radius: 4px;
  padding: 30px 20px;
  background: #fff;
}
.what-we-do .icon-boxes h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  color: #384046;
  transition: ease-in-out 0.3s;
}

.what-we-do .icon-boxes .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #eaf4fb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #3498db;
  transition: ease-in-out 0.3s;
}

.what-we-do .icon-boxes p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.icon-boxes:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

 .icon-boxes:hover h3{
  color: #3498db;
}

/*-- about --*/
.about {
  display: flex;
}
.about .image {
  padding: 0 30px 0 60px;
}
.about .about-us {
  padding-left: 0px;
}

.about .about-us h2 {
  font-weight: 400;
  font-size: 40px;
}
.about .about-us p{
  font-weight: 300;
}
.about .about-us ul li {
  display: flex;
  font-size: 15px;
  padding: 20px 0 0;
  font-weight: 300;
}
.about .about-us ul .icon {
  color: #3498db;
  padding: 0 10px 0 0;
}
.about .about-us .rows {
  display: flex;
  padding: 30px 10px 0 0;
}
.about .about-us .rows .boxes .icons {
  color: #3498db;
}
.about .about-us .rows .boxes .text {
  padding: 10px 0;
}
.about .about-us .rows .boxes .text h3 {
  padding-bottom: 10px;
  font-size: 20px;
}

/*-- skills --*/

.skill-section {
  width: 95%;
  height: auto;
  padding: 80px 60px;
}

.skill-section .skill-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 20px;
}

.skill-section .skill-main .skill-bar .info {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.skill-bar .info{
  font-size: 12px;
  font-weight: bold;
}
.skill-section .skill-main .skill-bar .bars {
  width: 100%;
  height: 10px;
  background-color: #c9c7c7;
  margin-top: 15px;
}
.skill-bar .bars span {
  width: 715px;
  height: 10px;
  position: absolute;
  background-color: #3498db;
}
.skill-bar .bars .html {
  width: 715px;
  animation: html 0.9s
;
}
@keyframes html{
  0%{
    width: 0;
  }0px{
    715px
  }
}
.skill-bar .bars .css {
  width: 643.5px;
  animation: html 0.9s
;
}
@keyframes css{
  0%{
    width: 0;
  }0px{
    643.5px
  }
}

.skill-bar .bars .php{
  width: 572px;
  animation: html 0.9s
;
}
@keyframes php{
  0%{
    width: 0;
  }0px{
    572px
  }
}

.skill-bar .bars .javascript {
  width: 536.25px;
  animation: html 0.3s
;
}
@keyframes javascript{
  0%{
    width: 0;
  }0px{
    536.25px
  }
}

.skill-bar .bars .wordpress-cms {
  width: 643.5px;
  animation: html 0.9s
;
}
@keyframes wordpress-cms{
  0%{
    width: 0;
  }0px{
    643.5px
  }
}

.skill-bar .bars .photoshop {
  width: 393.25px;
  animation: html 0.9s
;
}
@keyframes photoshop{
  0%{
    width: 0;
  }0px{
    393.25px
  }
}

/*-- counts --*/

.row{
  display: flex;
  margin-bottom: 15px;
}

.row .counts{
  background: white;
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.row .counts i{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #3498db;
  padding: 0;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.row .counts span{
  font-size: 36px;
  display: block;
  font-weight: 500;
  color: #124364;
  transition: all 0.9s linear;
}

.row .counts p{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family:  sans-serif;
}

/*-- services --*/

.services {
  text-align: center;
  padding: 50px 60px;
  font-size: 40px;
}

 .line-bar {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px ;
  padding-bottom: 20px;
  position: relative;

}

.line-bar::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
 left: calc(50% - 60px);
}

 .line-bar::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #3498db;
  bottom: 0;
  left: calc(50% - 20px);
}

.services h1 {
  font-size: 32px;
  font-weight: 600;
  position: relative;
}

.services p{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.box{
  background-color: #eff4f5;
  padding-bottom: 40px;
}
.services-row {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 35px; 
  margin: 0 60px;
  grid-template-areas: 
    ". ."
    ". ."
    ". .";  
  transition: ease-in-out 0.3s;
}

.services-row .icon-box{
  background-color: #ffff;
  border-radius: 5px;
}
.services-row .icon-box .icons{
  float: left;
  color: #3498db;
  font-size: 40px;
  line-height: 0;
  margin: 30px 20px 0 30px;
}

.services-row .icon-box h3{
  color: #384046;
  transition: 0.3s;
  margin: 30px 0 25px 70px;

}

.services-row .icon-box p{
  margin: 0 0 35px 90px;
  line-height: 24px;
  font-size: 14px;
}

.services-row .icon-box:hover{
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
}
.services-row .icon-box:hover h3{
  color: #3498db;
}


/*---- portfolio ----*/

.portfolio {
  text-align: center;
  padding: 60px 0;
  font-size: 40px;
  list-style: none;
}
.portfolio .line-bar {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px ;
  padding-bottom: 20px;
  position: relative;

}

.portfolio .line-bar::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
 left: calc(50% - 60px);
}

.portfolio .line-bar::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #3498db;
  bottom: 0;
  left: calc(50% - 20px);
}
.portfolio h1 {
  font-size: 32px;
  font-weight: 600;
  position: relative;
}

.portfolio p{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.portfolio .portfolio-filters li{
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #444444;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-filters li:hover{
  background: #3498db;
  color: #fff;
}
.portfolio-filters li .active {
  background-color: #3498db;
}
.images{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: 
    ". ."
    ". ."
    ". .";  
  transition: ease-in-out 0.3s;
}
.portfolio .portfolio-filters img{
border-radius: 4px;
margin: 20px;
}
.bars{
  height: 50px;
  width: 100%;
  bottom: cover;
}

/*-- testimonial --*/

.testimonial {
  text-align: center;
  padding: 50px 60px;
  font-size: 40px;
}
.testimonial h1 {
  font-size: 32px;
  font-weight: 600;
  position: relative;
}
.testimonial p{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.container{
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
      ". ."
      ". ."
      ". .";  
    transition: ease-in-out 0.3s;
    margin: 0 100px;
    gap: 50px;
}
.items-box{
  background-color: #fff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
width: 380px;
height: 400px;
}

.box .container .items-box .testimonial-items p{
  font-size: 16px;
  font-weight: 300;
  margin: 40px 20px 0 20px;
  padding-bottom: 20px;
  position: relative;
  }
  
  .box .container .items-box .testimonial-items img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  .box .container .items-box .testimonial-items h3{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  .box .container .items-box .testimonial-items h4{
    font-size: 14px;
  color: #999;
  font-weight: 300;
  margin: 0;
  }

  /*-- team --*/
  .team{
    text-align: center;
    padding: 50px;
  }
  .team-members{
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    padding-top: 40px;
  width: 430px;
  height: 440px;
  }
  .container .items-box .team-members img{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    border: 4px;
  }
